#container{
	
	position: relative;
	margin: 0 auto;
	width: 440px;
	height: 720px;
	z-index:1;

	border: 2px solid #eecb11;
	border-radius: 10%;


}

/*general*/

img{

	margin: 0 auto;
	margin-top: 15px;
	display: block;
}

body{

	color: white;
	font-size: 14px;
	font-family: 'arial';

}


a:link, a:visited, a:hover, a:focus {
	color: white;
	display: block;
	text-decoration: none;
	border: none;
	outline: none;
}





/*header*/

#headertext{
	text-align: right;
	position: absolute;
	z-index: 2;
	top: 55%;
	left: 27%;
	width: 200px;
	height: 100px;
}

h1{

	color: white;
	font-size: 34px;
	font-family: 'Homemade Apple', cursive;

}

/*main navigation*/

#topnav{

	display: inline;

	width: 320px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 17%;
	left: 12%;
	padding:  0px;

}



#topnav dl{

	list-style: none;
	display: inline;
	margin: 0 auto;
	padding: 0px ;
	float: left;
}

#topnav dt{

	margin: 0 auto;
	padding: 5px 0px;
	width: 60px;

}

	

.navicon {
	display: inline;
	float: left;
	margin: 0 auto;
	width: 80px;
	padding: 0px 5px 0px;



}

#topnav dl dd{

	display: block;
	width: 60px;
	padding: 0px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px 3px gray;


}

.navicon img {

	border-radius: 20%;
}


/*bottom navigation*/

#bottomnav{
	background-color: rgba(95, 97, 82, 0.8);

	width:340px;
	height:90px;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 73.5%;
	left: 11.4%;
	display: inline;
}

#bottomnav img{
	margin-top: 10px;
}



#bottomnav dl {
	list-style-type: none;
	width: 250px;
	margin: 0 auto;
	padding: 0px;
	overflow: hidden;

	
}

#bottomnav dl dt{

	display: inline;
	float: left;
	margin: 0 auto;
	padding: 0px 5px;
	width: 60px;
	
}

#bottomnav dl dd{

	display: block;
	width: 60px;
	padding: 0px;
	margin: 0 auto;
	text-align: center;
}


#home{

	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 89%;
	left: 43.3%;
}

.roundbutton{

	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #bf9104;
	border-radius: 50%;
	opacity: .8;
	text-decoration: none;
	background: #ffffff;
	
	text-decoration: none;
	background: #ffffff;
	box-shadow: 0 0 4px gray;
}



/*content*/

.modal{
	
	position: absolute;
	z-index:4;
	top: 18%;
	left: 0.5%;
	width: 350px;
	height: 492px;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	font-weight: normal;
	text-align: center;
	border-radius: 15px;

}

.next{

	display: block;
	font-size: 30px;
	text-shadow: 0 0 3px black;
	position: absolute;
	z-index: 4;
	top: 150px;
	right: 0px;
}

.prev{

	display: block;
	font-size: 30px;
	text-shadow: 0 0 3px black;
	position: absolute;
	z-index: 4;
	top: 150px;
	left: 0px;
}

.modal-content{

	margin-right: 10px;
	border-radius: 10px;
	width: 330px;
	
	color: black;
	padding: 10px;
	display: block;

	font-size: 12px;
	text-align: left;

}

.modal-title {
	font-family: 'arial';
	color: gray;
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
}

.img-thumbnail{

	width: 80px;
	float: left;
	margin: 0px 10px 0px 0px;
}

#skills.col-sm-5,.col-sm-7{

	height: 30px;

}

.col-sm-4,.col-sm-5{

	padding: 0px 10px 0px 0px;
	text-align: right;
}

.col-sm-4,.col-sm-8{

	padding: 0px 10px;
	border-left: 3px black double;
	border-top: 1px black solid;

}

.explabel {

	color: black;
	width: 200px;
	height: 45px;
	margin: 0 auto;
	padding: 5px;
	text-align: left;

}


.progress{

	width: 160px;

}

.progress-bar{

	background-color: #eecb11;
}

/*hover bottom navigation*/

.hoverbox{

	display: none;
	background: rgba(136,183,213,0.9);
	color: white;
	text-align: center;
	
	border: 2px solid #ffffff;
	border-radius: 10%;
	z-index: 4;
	
}

#hoverphone{

	position: absolute;
	left: 25px;
	bottom: 90px;
	width: 120px;
	height: 50px;
}

#hoverset{

	position: absolute;
	right: 8px;
	bottom: 90px;
	width: 180px;
	height: 120px;
	padding: 5px;


}

#hoverset img{
	width: 30px;
	float: right;
	margin: 0 auto;
}

.hoverbox:after, .hoverbox:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hoverbox:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: rgba(136, 183, 213, 0.5);
	border-width: 10px;
	margin-left: -10px;
	margin-top: 1px;

}
.hoverbox:before {
	border-color: rgba(243, 255, 133, 0);
	border-top-color: white;
	border-width: 12px;
	margin-left: -12px;
	margin-top: 1px;
}
